.venv/
.env/
/.python-version
db.sqlite3

#Firebase
#.firebase/
#.firebase-debug.log
#.firebase/hosting.*
#firebase.json
#firebase.json
#.firebasearc

#Firebase Service Account Key
D:/Project/Python/secretkey/vaasdev-service-account-key.json

#Node.js
node_modules/

#github-firebase
.github/workflows

