<html>
    <head>
        {% load static %}
            <link rel="stylesheet" href="{% static '/css/exportfile/dailyreport.css' %}">
    </head>
    <body>
        <h4>Daily Analysis Report Preview</h4>
        <div id="dailyGraphPreview"></div>
        <div id="dailyGraphForm">
            <div class="daily_field">
                <label for="day">Day: </label>
                <select value="day" name="day" id="daily_fields">
                    <option value=""></option>
                    <option value="Monday">Monday</option>
                    <option value="Tuesday">Tuesday</option>
                    <option value="Wednesday">Wednesday</option>
                    <option value="Thursday">Thursday</option>
                    <option value="Friday">Friday</option>
                    <option value="Saturday">Saturday</option>
                    <option value="Sunday">Sunday</option>
                </select>
            </div>
            <br>
            <div class="daily_vehicletype">
                <label for="vehicle_type">Vehicle Type: </label>
                <select value="vehicle_type" name="vehicle_type" id="daily_vtfield">
                    <option value=""></option>
                    <option value="Car">Car</option>
                    <option value="Motorcycle">Motorcycle</option>
                    <option value="Truck">Truck</option>
                    <option value="Lorry">Lorry</option>
                    <option value="All">All Type</option>
                </select>
            </div>
            <br>
            <div class="daily_buttons">
                <button type="button" id="previewBtn">Preview</button>
                <button type="button" id="exportBtn">Export</button>
            </div>
        </div>
    </body>    
</html>