<form method="POST" action="{% url  'export_monthly' %}">
    {% csrf_token %}
    <div class="dateReportField">
        <label for="month">Month: </label>
        <select value="month" name="month" id="monthField">
            <option value=""></option>
            <option value="January">January</option>
            <option value="February">February</option>
            <option value="March">March</option>
            <option value="April">April</option>
            <option value="May">May</option>
            <option value="June">June</option>
            <option value="July">July</option>
            <option value="August">August</option>
            <option value="September">September</option>
            <option value="October">October</option>
            <option value="November">November</option>
            <option value="December">December</option>
        </select>
    </div>
    <div class="VehicleTypeList">
        <label for="vehicle_type">Vehicle Type: </label>
        <select value="vehicle_type" name="vehicle_type" id="TypeVehicleField">
            <option value=""></option>
            <option value="Car">Car</option>
            <option value="Motorcycle">Motorcycle</option>
            <option value="Truck">Truck</option>
            <option value="Lorry">Lorry</option>
        </select>
    </div>
    <div class="InjuryLevelList">
        <label for="levelInjuries">Person Injury Level: </label>
        <select value="levelInjuries" name="levelInjuries" id="levelInjuriesField">
            <option value=""></option>
            <option value="Minor">Minor</option>
            <option value="Moderate">Moderate</option>
            <option value="Severe">Severe</option>
        </select>
    </div>
    <div class="DamageLevelList">
        <label for="levelDamages">Vehicle Damage Level: </label>
        <select value="levelDamages" name="levelDamages" id="levelDamagesField">
            <option value=""></option>
            <option value="Minor">Minor</option>
            <option value="Major">Major</option>
        </select>
    </div>
    <div class="buttonsField">
        <button type="button" id="previewBtn">Preview</button>
        <button type="submit" id="exportBtn">Export</button>
    </div>
</form>