/* CSS for Popup Window */
.popup {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.6);
    z-index: 9999;
    overflow: auto;
    border-radius: 3px;
  }
  
  .popup-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #fff;
    padding: 20px;
    width: 1000px;
    height:500px;
    max-width: 90%;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    overflow: auto;
  }
  
  #popup-close {
    position: absolute;
    top: 10px;
    right: 10px;
    padding: 5px 10px;
    background-color: #ddd;
    border: none;
    cursor: pointer;
  }
  
  #popup-close:hover {
    background-color: #ccc;
  }

#acr_fields{
  border:3px solid blue;
  width:800px;
}

#title{
  position:relative;
  width:500px;
  height:20px;
  left:45px;
  top:0px;
}

#description{
  width:500px;
  height:100px;
}

#person_fields{
  border: 3px solid blue;
  width:800px;
}

#person_gender{
  position: relative;
  left:22px;
}

#person_age{
  width:60px;
  position:relative;
  left:42px;
}

#person_name{
  width:500px;
  height:20px;
  position:relative;
  left:30px;
}

#driver_license{
  width:500px;
  height:20px;
  position: relative;
  left:20px;
}

#injuries{
  width:500px;
  height:100px;
  position: relative;
  left:22px;
}

#vehicle_fields{
  border: 3px solid blue; 
  width:800px;
}

#vehicle_model{
  width:500px;
}

#vehicle_type{
  position: relative;
  left:10px;
}

#plate_number{
  position: relative;
  left:5px;
}

#vehicle_owner{
  position: relative;
  left:50px;
  width:500px;
}

#vehicle_damage{
  position:relative;
  left:35px;
  width:500px;
  height: 100px;
}

#location_name{
  width:300px;
}

#location_address{
  width:300px;
  height:50px;
  position:relative;
  left:47px;
}

#location_longcoord{
  width:300px;
  position:relative;
  left:29px;
}

#location_latcoord{
  width:300px;
  position:relative;
  left:47px;
}

#reference_fields{
  border: 3px solid blue; 
  width:800px;
}

#owned_by{
  position:relative;
  left:30px;
}

#ref_type{
  position:relative;
  left:67px;
}


  