#weeklyGraphPreview{
    position:absolute;
    width:300px;
    height:400px;
    top:50px;
    left:10px;
    border: 2px solid rgb(175, 163, 103);
}

#weeklyGraphForm{
    position:absolute;
    width:300px;
    height:500px;
    top:50px;
    left:350px;
}

.weekly_field{
    position:relative;
    top:10px;
}

#weekly_fields{
    position: relative;
    width:100px;
    left:46.5px;
}

.weekly_vehicletype{
    position:relative;
    top:30px;
}

#weekly_vtfield{
    position: relative;
    width:100px;
}

.weekly_buttons{
    position:relative;
    top: 50px;
}

#previewBtn{
    position: relative;
    width:80px;
}

#exportBtn{
    position: relative;
    width:80px;
    left:25px;
}