{% extends 'template/base.html' %}

{% block body %}
<div id="myAnalytical">
    <div class="AnalyticalTitle">
        <h2>VAAS Analytical Page</h2>
    </div>
    <div class="AnalyticalTable" id="myAnalyticalTable">
        <div class="Table1" id="myTable1">
            <h4>Daily Case Report</h4>
        </div>
        <div class="Table2" id="myTable2">
            <h4>Weekly Case Report</h4>
        </div>
        <div class="Table3" id="myTable3">
            <h4>Monthly / Yearly Case Report</h4>
        </div>
    </div>
</div>
{% load static %}
<script src="{% static '/js/analyticaljs.js' %}"></script>
{% endblock %}