{% extends 'template/base.html' %}

{% block body %}
<div id="myAnalytical">
    <div class="AnalyticalTitle">
        <h2>VAAS Analytical Page</h2>
    </div>
    <div class="AnalyticalTable" id="myAnalyticalTable">
        <form method="get" action="{% url 'analytical' %}">
            {% csrf_token %}
            <div class="Table1" id="myTable1">
                <h4>Daily Case Report</h4>
                <div class="Daily-form">
                    <label for="{{ dailyform.DailyByOrder.id_for_label }}">Day: </label>
                    <select id="dailyDropdown" name="{{ dailyform.DailyByChoice }}">
                        <option value="" {% if daily_default == '' %} selected {% endif %}> Current Day</option>
                        {% for value,label in dailyform.DailyByChoice.field.choices %}
                            <option value = "{{ value }}" {% if daily_default == value %} selected {% endif %}>{{ label }}</option>
                        {% endfor %}
                    </select>
                    <div id="dailyGraphContainer"></div>
                </div>
            </div>
            <div class="Table2" id="myTable2">
                <h4>Weekly Case Report</h4>
                <div class="Weekly-form">
                    <label for="{{ weeklyform.WeeklyByOrder.id_for_label }}">Week: </label>
                    {{ weeklyform.WeeklyByOrder }}
                    <div id="weeklyGraphContainer"></div>
                </div>
            </div>
            <div class="Table3" id="myTable3">
                <h4>Monthly / Yearly Case Report</h4>
                <div class="Monthly-form">
                    <label for="{{ monthlyform.MonthlyByOrder.id_for_label }}">Month: </label>
                    {{ monthlyform.MonthlyByOrder }}
                </div>
                <div id="monthlyGraphContainer"></div>
            </div>
        </form>
    </div>
</div>
{% load static %}
<script src="https://cdn.jsdelivr.net/npm/jquery@3.6.0/dist/jquery.min.js"></script>
<script src="{% static '/js/analyticaljs.js' %}"></script>
{% endblock %}