{% extends 'template/base.html' %}

{% block body %}
<div id="myCRDisplay">
    <div class="CRTitle">
        <h2>VAAS Case Report Page</h2>
    </div>
    <div class="CRDisplay1" id="myCRDisplay1">
        <div class="CreateCaseSection">
            <button id="createcase-popup">Create Case</button>
        </div>
        <div class="SearchField">
            <form method="get" action="{% url 'reportlib' %}">
            {% csrf_token %}
            <div class = "search-form">
                <label for='{{ form1.search_query.id_for_label}}'>Search:</label>
                {{form1.search_query1}}
            </div>
            <div class = "sortby-form">
                <label for='{{ form1.sortbyorder.id_for_label}}'>Sort by:</label>
                {{form1.sortbyorder1}}
            </div>
            <div class = "elementby-form">
                <label for='{{ form1.categoryorder.id_for_label}}'>Category:</label>
                {{form1.categoryorder1}}
            </div>
            <button type="submit" id="RprtSearchBtn">Search</button>
        </form>
        </div>
        <div class="CRListDisplay" id="myCRListDisplay">
            <table class="CRTable">
                <thead>
                    <tr>
                        <th style="width:100px;">Case No. :</th>
                        <th style="width:400px;">Title:</th>
                        <th style="width:500px;">Description:</th>
                        <th style="width:200px;">DateTime:</th>
                        <th style="width:100px;">Action:</th>
                    </tr>
                </thead>
                <tbody>
                    {% for ACR in accident_reports %}
                        <tr>
                            <td>{{ ACR.CaseID }}</td>
                            <td>{{ ACR.Title }}</td>
                            <td>{{ ACR.Description }}</td>
                            <td>{{ ACR.DateTime }}</td>
                            <td>
                                <div class="CRpopup">
                                    <button class="CRpopup-button" onclick="toggleCRPopup('{{ACR.CaseID}}')">Select Action</button>
                                    <div id="{{ACR.CaseID}}" class="CR-popup-content" style="display:none;">
                                        <select onchange="handleCaseChange('{{ACR.CaseID}}',this.value)">
                                            <option value=""></option>
                                            <option value="View">View</option>
                                            <option value="Edit">Edit</option>
                                            <option value="Delete">Delete</option>
                                        </select>
                                    </div>
                                </div>
                            </td>
                        </tr>
                    {% empty %}
                        <tr>
                            <td colspan="5" style="text-align:center;">No accident reports found.</td>
                        </tr> 
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
    <div class="CRDisplay2" id="myCRDisplay2">
        <div class='SearchField2'>
            <form method="get" action="{% url 'reportlib' %}">
                {% csrf_token %}
                <div class = "search-form2">
                    <label for='{{ form2.search_query2.id_for_label}}'>Search:</label>
                    {{form2.search_query2}}
                </div>
                <div class = "sortby-form2">
                    <label for='{{ form2.sortbyorder2.id_for_label}}'>Sort by:</label>
                    {{form2.sortbyorder2}}
                </div>
                <div class = "elementby-form2">
                    <label for='{{ form2.elementbyorder2.id_for_label}}'>Order by:</label>
                    {{form2.elementbyorder2}}
                </div>
                <button type="submit" id="RprtSearchBtn">Search</button>
            </form>
        </div>
        <div class='RDListDisplay' id="myRDListDisplay">
            <table id = "RDTable">
                <thead>
                    <tr>
                        <th style="width:100px;">Ref No.: </th>
                        <th style="width:700px;">File: </th>
                        <th style="width:300px;">Owned By:</th>
                        <th style="width:100px;">Case No.:</th>
                        <th style="width:100px;">Action:</th>
                    </tr>
                </thead>
                <tbody>
                    {% for RD in refer_doc %}
                        <tr>
                            <td>{{ RD.ReferenceID }}</td>
                            <td>{{ RD.get_file_name}}</td>
                            <td>{{ RD.OwnedBy }}</td>
                            <td>{{ RD.CaseID }}</td>
                            <td>
                                <div class='RDPopup'>
                                    <button class="RDpopup-button" onclick="toggleRefPopup('{{RD.ReferenceID}}')">Select Action</button>
                                    <div id="{{RD.ReferenceID}}" class="RD-popup-content" style="display:none;">
                                        <select onchange="handleRefChange('{{RD.ReferenceID}}',this.value)">
                                            <option value=""></option>
                                            <option value="View">View</option>
                                            <option value="Delete">Delete</option>
                                        </select>
                                    </div>
                                </div>
                            </td>
                        </tr>
                    {% empty %}
                        <tr>
                            <td colspan="5" style="text-align:center;">No reference document found.</td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>
<!--Start Page of Case Report-->
<div id="view-popup" class="CRpopup">
    <button class="CRpopup-button" onclick="openCRPopup('view-popup')">View</button>
    <div class="CR-popup-content">
        <!--View data content here-->
    </div>
</div>
<div id="edit-popup" class="CRpopup">
    <button class="CRpopup-button" onclick="openCRPopup('edit-popup')">Edit</button>
    <div class="CR-popup-content">
        <!--Edit data content here-->
    </div>
</div>
<div id="delete-popup" class="CRpopup">
    <button class="CRpopup-button" onclick="openCRPopup('delete-popup')">Delete</button>
    <div class="CR-popup-content">
        <!--Delete data content here-->
    </div>
</div>
<!--End Page of Case Report-->
<!--Start Page of Reference-->
<div id="view-popup" class="RDpopup">
    <button class="RDpopup-button" onclick="openRefPopup('view-popup')">View</button>
    <div class="RD-popup-content">
        <!--View data content here-->
    </div>
</div>
<div id="delete-popup" class="RDpopup">
    <button class="RDpopup-button" onclick="openRefPopup('delete-popup')">Delete</button>
    <div class="RD-popup-content">
        <!--Delete data content here-->
    </div>
</div>
<!--End Page of Reference-->
<div id="create-case-popup" class="create-case-popup">
    <div class="case-popup-content" id="case-popup-content">
        {% include 'createcase/popup.html' %}
    </div>
    <button id="popup-close">Close</button>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/leaflet@1.7.1/dist/leaflet.css" />
    <script src="https://cdn.jsdelivr.net/npm/leaflet@1.7.1/dist/leaflet.js"></script>
</div>

{% load static %}
<link rel="stylesheet" href="{% static '/css/reportlib/action-reportlib.css' %}">
<link rel="stylesheet" href="{% static '/css/reportlib/libpopup.css' %}">
<script src="https://cdn.jsdelivr.net/npm/jquery@3.6.0/dist/jquery.min.js"></script>
<script src="{% static '/js/reportlib/reportlibjs.js' %}"></script>
<script src="{% static '/js/reportlib/createcase-popup.js ' %}"></script>
<script src="{% static '/js/reportlib/action-reportlib.js' %}"></script>
{% endblock %}